[flake8]
ignore =
    E203
    T201
max-line-length = 88
max-complexity = 20
rst-roles =
    class
    func
    mod
    data
    const
    meth
    attr
    exc
    obj
rst-directives =
    note
    warning
    versionadded
    versionchanged
    deprecated
    seealso
per-file-ignores =
    tests/*:D
